html { min-height: 100%; padding-bottom: 1px;
color:#333333;
}

body{padding:0px;
width:100%;
margin:0px;
font-family: arial;
min-width:320px;
margin-bottom:120px;
background:url('images/bg3.jpg') center center fixed;
background-size:cover;
-webkit-background-size: cover; 
-moz-background-size: cover;    
-o-background-size: cover; 
}

#container{
width:70%;
margin:auto;
min-width:20px;
max-width:1200px;
}

#content a{color:#ff6600;text-decoration:none;padding-left:2px;
padding-right:2px;
border-bottom:dotted 1px #884400;
}

#header{border:solid 0px #ff0000;position:fixed;
width:auto;bottom:0px;
z-index:1000;left:0px;
background:#000000;padding:5px;border-top:solid 2px #666666;
}



ul#menu{list-style-type:none;
padding:0px;margin:0px;
display:table;
width:100%;
border-spacing:5px;
font-size:11px;
display:table;table-layout: fixed;width:100%;
cursor: pointer;

}

#menu a{text-decoration:none;color:#999999;}


#menu li{border:solid 1px #555555;
display:table-cell;
text-align:center;
padding:5px;
border-radius:5px;
vertical-align:middle;
box-shadow:0px 0px 3px;
overflow:hidden;
background:#222222;}

#menu li:hover
{
background-color:#555555;
box-shadow:inset 0px 0px 10px #ffffff;
cursor:pointer;}

#menu li.menuon{
background-color:#ffffff;border-radius:20px;
border:solid #888888;}

#menu li.menuon a{
color:#555555;font-weight:bold;
}

#main{
padding:30px;
margin-top:30px;
color:#bbbbbb;
border-radius:10px;
position:relative;
}


#title.unloaded{z-index:100;
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
	position:fixed;
	right:-270px;
top:-200px;
}


#title.loaded{z-index:100;
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
	position:fixed;
	right:-270px;
top:270px;
}

#title h1{
border:solid 0px;
width:600px;
height:50px;
color:#ffbb00;
text-shadow:3px 10px 7px #000000;
font-size:3em;
}



#siteTitle{
border:solid 0px;
width:600px;
height:50px;
color:#ffbb00;
 -ms-transform:rotate(-90deg); /* IE 9 */
  -moz-transform:rotate(-90deg); /* Firefox */
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  -o-transform:rotate(-90deg); /* Opera */
position:fixed;
left:-263px;
top:220px;
text-shadow:3px 10px 7px #000000;
font-size:2.1em;
z-index:100;
}

#siteTitle img{margin-left:30px;
width:100px;position:relative;
top:35px;}


#logo{position:absolute;right:0px;top:0px;
width:100px;}
#logo img{width:100px;}

#content{font-size:16px;overflow:hidden}


#content h1{}
#content h2{font-size:1.7em;padding:0px;margin:0px;
color:#999999;width:95%;text-align:center;}
#content h3{;font-size:1.6em;padding:0px;margin:0px;
color:#bbbbbb;font-weight:normal;width:85%}


#rss{position:relative;}
#rss h2{font-size:1em;
color:#000000;text-shadow:none;
font-weight:normal;}

#rss > ul{list-style-type:none;padding:0px;margin:0px;}
#rss > ul > li{margin-bottom:15px;
border:solid 2px #333333;border-radius:15px;
box-shadow:0px 6px 10px #000000;
padding:25px;background-color:#111111;
position:relative;
}

#rss a{}
#rss .itemTitle{font-weight:bold;
font-size:1.4em;text-align:center;}

#rss .itemDate{text-align:center;color:#666666;
position:absolute;top:5px;
right:10px;
}

#content h3 .smallheadline{font-size:.5em;}

#content img{width:55%;float:right;margin-left:30px;
background-color:#ffffff;border:solid 2px #dddddd;
border-radius:7px;
box-shadow:0px 0px 10px #666666;
padding:10px;
padding-bottom:30px;
margin-bottom:20px;
margin-top:10px;}

.col1-2{width:45%;float:left;
margin-right:5%;font-size:.9em;}

.col2-2{width:45%;float:left;
margin-right:5%;font-size:.9em;}

.lyrics{margin:auto;width:75%;font-size:1.4em;}
.small{font-size:.7em;}

#content .col1-2 img{width:45%;float:left;
margin-right:5%;
padding:5px;margin:0px;margin-right:10px;
box-shadow:none;}




#content .col1-3, .col2-3, .col3-3{width:30%;float:left;}

#content .col1-3 h3{padding:0px;margin:0px;}
.col1-3 p{padding:5px;}

#footermenu{display:none;}
#footer{text-align:center;color:#ffffff;margin-top:10px;}

.top{display:none;}

ul.resumelist{padding:0px;margin:0px;clear:both;}
.resumelist li {float:left;margin-right:20px;}

blockquote{border:solid 1px #dddddd;padding:10px;font-family:times;font-style:italic;
background:#f6f6f6;width:80%;text-align:center;
margin:auto;margin-top:20px;margin-bottom:20px;}

.points li{margin-bottom:15px;}
.points li p{font-size:.8em;color:#999999;margin:0px;}

/*---------------------- MOBILE  ---------------------------------------*/

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {

body{
margin:0px;
padding:0px;
background-color:#333333;
margin-bottom:10px;
overflow-x:hidden;
background-image:none;
background:none;
border:inset 0px #ff0000;
width:99.9%;
background-color:#222222;
}


#container{
width:100%;
margin:auto;
border:inset 0px #000000;
padding:0px;margin:0px;
}


#title h1{
 -ms-transform:rotate(0deg); /* IE 9 */
  -moz-transform:rotate(0deg); /* Firefox */
  -webkit-transform:rotate(0deg); /* Safari and Chrome */
  -o-transform:rotate(0deg); /* Opera */
position:relative;
font-size:1em;
height:0px;
width:0px;
margin:0px;
padding:0px;
top:0px;
overflow:hidden;
}

#siteTitle{
 -ms-transform:rotate(0deg); /* IE 9 */
  -moz-transform:rotate(0deg); /* Firefox */
  -webkit-transform:rotate(0deg); /* Safari and Chrome */
  -o-transform:rotate(0deg); /* Opera */
padding:0px;margin:0px;left:0px;
top:0px;
font-size:1.9em;color:#ffff00;text-align:left;
text-shadow:none;
letter-spacing:0px;
font-weight:normal;padding:0px;
height:70px;
width:100%;
position:fixed;z-index:1000;
background:#ff9900;
padding-top:20px;
}

#menutrigger{background:url('images/9890-70-n.png') no-repeat center center;
width:70px;height:89px;position:fixed;
right:5px;border:solid 0px;z-index:1000;
cursor: pointer;
top:0px;}

#menutrigger:hover{cursor:pointer;}

#siteTitle img{width:75px;top:-10px;
	float:left;
 -ms-transform:rotate(-90deg); /* IE 9 */
  -moz-transform:rotate(-90deg); /* Firefox */
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  -o-transform:rotate(-90deg); /* Opera */
margin:0px;
margin-right:10px;
}

#content h1{text-align:center;}
#content h2{text-align:center;font-size:1.2em;
color:#999999;width:auto;}
#content h3{;font-size:1.5em;padding:0px;margin:0px;color:#bbbbbb;font-weight:normal;width:99.5%;text-align:center;}

#header{border:solid 0px #ff0000;
position:relative;
width:auto;
z-index:100;
background:none;padding:2px;border-top:solid 0px #888888;
box-shadow:0px 0px 0px;
border-top-left-radius:0px;
border-top-right-radius:0px;
padding:0px;
margin:0px;

}

#main{border-radius:0px;
padding:10px;border:none;box-shadow:none;width:auto;
}

ul#menu{list-style-type:none;
padding:0px;margin:0px;
display:block;
width:99%;
margin:auto;
border-spacing:0px;
border:solid 0px #ffff00;
margin-top:90px;
}

#menu{cursor: pointer;}

#menu a{text-decoration:none;
font-size:3.0em;
color:#bbbbbb;}

#menu li{border:solid 0px #000000;
width:100% !important;
text-align:center;
padding:0px;
padding-top:8px;
padding-bottom:8px;
border-radius:0px;
border-top:solid 2px #000000;
border-bottom:solid 1px #000000;
display:block;
background:#333333;
}

#menu li.menuon{border-radius:0px;
box-shadow:inset 0px 0px 9px #000000;
background:#ff6600;
border:solid 0px #ff0000;
margin-left:0px;
padding-right:3px;
}

#menu li:hover{background:#336699;
box-shadow:none;
cursor:pointer;}

#menu li.menuon{display:block;}
#menu li.menuoff {display:none;}

#menu li.menuon a{
color:#ffff99;font-weight:
normal;text-shadow:-1px 0px 3px #000000;}


#logo{margin:auto;position:relative;width:150px;}
#logo img{width:150px;}
#content{font-size:1.5em;overflow:hidden;}

#content img{width:90%;float:none;margin:0px;
margin-top:10px;margin-bottom:30px;
background-color:#ffffff;border:solid 2px #999999;
border-radius:7px;
box-shadow:0px 0px 0px #666666;
padding:15px;
padding-bottom:30px;
padding:5px;margin:0px;
box-shadow:none;
margin:2%;}


.col1-2{width:100%;float:none;
margin:0px;font-size:1.0em;}

#content .col1-2 img{width:95%;float:none;clear:both;
margin-bottom:20px;display:}


#content .col1-3{width:100%;float:none;}
#content .col1-3 h3{padding:0px;margin:0px;text-align:left;
margin-top:20px;}
.col1-3 p{padding:0px;margin:0px;}


.top{display:block;text-align:center;
font-size:1.5em;font-weight:bold;border:solid 0px;
border-radius:10px;background-color:#111111;
width:55%;padding:10px;margin:auto;
box-shadow: inset 0px 0px 10px #999999;}

.top a{color:#ffffff;display:block;text-decoration:none;
text-shadow:3px 3px 3px #999999;}

.top:hover{background-color:#ff9900;}


#footermenu{display:block;list-style-type:none;
clear:all;text-align:center;}
#footermenu li{float:left; padding-left:5px;margin-left:5px;
border-left:solid 1px #666666;font-size:1.5em;}
#footermenu a{color:#999999;text-decoration:none;}

#footermenu li:first-child{border:none;}

.lyrics{margin:auto;width:100%;font-size:.8em;}

} 



/*--------------- SMALL MOBILE -----------------------*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
body{min-width:320px;}
#title h1{}

#siteTitle{font-size:1.3em;text-align:center;letter-spacing:0px;
font-weight:normal;padding:15px 0px 5px 0px;
position:fixed;z-index:1000;
width:100%;
height:40px;
min-width:320px;text-indent:12px;text-align:left;}

#siteTitle img{
width:30px;position:absolute;margin-left:5px;top:10px;
display:none;}

#menutrigger{background:url('images/9890-50-n.png') no-repeat center center;
width:50px;height:60px;position:fixed;
right:12px;border:solid 0px;z-index:1000;}


ul#menu{margin-top:59px;}
#menu a{font-size:2.0em}

#menu li.menuon, #menu li:hover{border-radius:0px;
border:solid 1px;font-size:.7em;letter-spacing:10px;
line-height:25px;
}


#content{text-align:left;font-size:1.1em;overflow:hidden;}



#content img{width:90%;float:none;margin-left:3%;
margin-top:10px;margin-bottom:30px;
background-color:#ffffff;border:solid 2px #999999;
border-radius:7px;
box-shadow:0px 0px 0px #666666;
}

.col1-2{width:100%;float:none;
margin:0px;font-size:0.9em;}


#content .col1-2 img{width:95%;float:none;clear:both;
padding:5px;margin:0px;
box-shadow:none;
margin-bottom:20px;display:}

}