/* Resets
------ */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
}
/* Stuf
------ */

body {
background: url('../images/grid2.png') no-repeat center center fixed #000000;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
width:85%;
margin:auto;
overflow-x:hidden;
border:solid 0px;
min-width:320px;

}



#demo{margin-top:22px;
border:solid 0px;}

.content {
border-radius:5px;
border:solid 2px #999999;
//transition:.1s;

}



@media screen and (min-width: 720px) {

  /* 10 columns for larger screens */
.content {box-shadow:5px 5px 30px #000000;}

.content.scaleup{z-index:1000;cursor:pointer;
-moz-transform:scale(1.1,1.2) rotate(1deg);
-webkit-transform:scale(1.1,1.2) rotate(1deg);
transform:scale(1.2,1.2) rotate(-2deg);
opacity:1 !important;
margin-left:20px;
padding:10px;
border:solid 2px #ff6600;
//transition:.1s;}
}


.content.scaleup{border:solid 2px #ff6600;
// transition:.5s;cursor:pointer;}

.content p{color:#666666;font-size:17px;
line-height:105%;margin:10px;}

.author{color:#ffee99;}



.thumb{
width:64px;
height:64px;
position:absolute;
top:-28px;
right:-32px;
z-index:900;
border:solid 0px;
}
