:root {
	--docbg: #999999; /* fade color */
	--pagebg: #444444;
	--dropshadow:#000000;
	--hcolor: #bbbbbb; /* h tags color */
	--pcolor:#999999; /* base content font color */
	--deskmenubgcolor:#555555; /* menu strip - keep same color as page for cleaner look */
	--deskmenulink:#ffffff; 
	--menulinkactive:#ffff00;
	--menubgdrop:#333333;
	--menuhoverbg:#ff6600;
	--menuhoverfontcolor:#ffffaa;
  --menutriggeractivebg:#339933;
	--menuactivebg:#ff9944;
	 --menuparentbg:#666666;
	--sitetitlecolor:#0099ff;
	--subtitlecolor:#00bbff;
	--pagetitlecolor:#336699;
	--hamburger:#ff6600;
	--menulinkcolor:#ffffff;
	--menusublinkcolor:#eeeeee;
	--menubordercolor:solid 2px #666666;
	--mobilesitebg:#333333;
	--basefontsize:16px;
  --mobilebasefontsize:14px;
	
}