:root {
	--docbg: #999999; /* controls fade color */
	--pagebg: #444444; /* Main page color */
	--hcolor: #bbbbbb; /* H tags color */
	--pcolor:#999999; /* basic font color */
	--basefontsize:17px;
	--sitetitlecolor:#ffff33; /* Main site title color */
	--subtitlecolor:#ff9933; /* Sub title - should be close */
	--pagetitlecolor:#ffffff; /* Upper right title color */
	--mobilesitebg:#333333; /* mobile title "bar" color where hamburger is placed */
	--dropshadow:#000000;
	--deskmenubgcolor:#555555; /* strip where menu is held */
	--deskmenulink:#999999; /*color of inactive links on parent menu */
	--menulinkactive:#ffffff; /* color of active menu links */
	--menubgdrop:#777777; /* background of dropdown menu */
	--menuhoverbg:#994422; /* Hover color desk and mobile */
	--menubg:#ff9933;	/* desktop menu active table color AND mobile dropdown color */
	--menuparentbg:#ff6600; /* mobile sub menu bg color */
	--menubordercolor:solid 1px #222222; /* Mobile menu separator color */
}