:root {
	--docbg: #333333;
	--pagebg: #ffffff;
	--hcolor: #000000;
	--pcolor:#666666;
	
	--sitetitlecolor:#ffff33;
	--subtitlecolor:#ff9933;
	--pagetitlecolor:#ffffff;
	--mobilesitebg:#333333; /* bg color where mobile title and hamburger is placed */
	
	--dropshadow:#000000;
	--deskmenubgcolor:#ffffff; /* strip where menu is held */

	--deskmenulink:#000000; /*color of inactive links on parent menu */
	--menulinkactive:#ffffff; /* color of active menu links */
	--menubgdrop:#555555; /* background of dropdown menu */
	--menuhoverbg:#ff6600; /* Hover color desk and mobile */
	--menubg:#55aa55;	/* desktop menu active table color AND mobile dropdown color */
	--menuparentbg:#337733; /* mobile sub menu bg color */
	--menubordercolor:solid 1px #222222; /* Mobile menu separator color */
	--basefontsize:17px;

}