:root {
	--docbg: #ff6600;
	--pagebg: #ffffff;
	--hcolor: #000000;
	--pcolor:#666666;
	--deskmenubgcolor:#dddddd;
	--deskmenulink:#000000;
	--menulinkactive:#ffff00;
	--menubgdrop:#77aa00;
	--menuhoverbg:#ff6600;
	--menuhoverfontcolor:#ffffaa;
	--menuactivebg:#449944;
	--sitetitlecolor:#0099ff;
	--pagetitlecolor:#ffff00;
	--hamburger:#77AA00;
	--menulinkcolor:#ffffff;
	--mobilesitebg:#333333;
	--basefontsize:1.6vw;
  --mobilebasefontsize:4vw;
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url('../fonts/raleway-regular.ttf') format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url('../fonts/raleway-regular.ttf') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
#dim {
	//display:none;
	position: fixed;
font-size:10px;
	bottom: 0%;
	left: 0%;
	z-index: 10000;
	color: #000000;
	background: #ffffff;
opacity:.5;
	padding: 1px 3px 1px 3px;
font-weight:bold;
}
html, body {
	margin: 0px;
	height: 100%;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	background: var(--docbg);
}
body {
	font-family: 'Raleway', sans-serif;
	position: relative;
	z-index: 1000;
	width: auto;
	top: 0;
	padding: 0px;
	margin: 0px;
	padding: 0;
	width: auto;
	background-color: var(--pagebg);
	height:auto;
  min-height:100%;    
}
#container {
	background: var(--pagebg);
}
.container-fluid {
	padding: 0px;
}
#container {
	display: relative;
}
#sitetitle {
	color: var(--sitetitlecolor);
	font-size: 30px;
}
#content {
	font-size:calc( var(--basefontsize) );
	word-wrap: break-word;
}
.top, #footer {
	text-align: center;
	font-weight: bold;
}
.full-bg-image {
	margin-bottom: 20px;
	background-attachment: scroll;
	height: 400px;
	background-position: center 100px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
	width: 100%;
}
.row {
	border: solid 0px #ff0000;
	margin-left: auto;
	margin-right: auto;
}
.sitetitletext {
	left: 20px;
}
.multicol {
	column-width: 33%;
	-webkit-column-count: 3;
	/* Chrome, Safari, Opera */
	-moz-column-count: 3;
	/* Firefox */
	column-count: 3;
}
.multicol li {
	display: inline-block;
	text-indent: -11px;
	border: solid 0px;
	width: 100%;
}
.multicol li:before {
	content: "• ";
	color: #000000;
	font-weight: bold;
	font-size: 1.2em;
}
.blogentry {
	border-bottom: solid 1px #999999;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
}
.blogentry h3 a {
	font-weight: bold;
	color: #ff6600;
	text-shadow: 1px 1px 1px #000000;
}
.blogentry .blogdate {
	font-size: .8em;
	color: #999999;
}
#blogarticle .date{
	margin-bottom:20px;
	text-align:center;
}
.blogentry .snippet {
	font-size: .9em;
	color: #888888;
	margin-top: 8px;
}
.blogentry .teaserimage img {
	width: 100%;
	height: auto;
	border:solid 10px #ffffff;
	border-radius:3px;
	border-top:solid 5px #ffffff;
	margin-top:5px;
	box-shadow:0px 5px 10px #999999;
}
figure.wp-caption{
	border:solid 0px;
	font-size:.7em;
	text-align:center;
}
figure.alignleft{
	float:left;
	margin-right:10px;
}
figure.alignright{
	float:right;
	margin-left:10px;
}
#content {
	color:var(--pcolor);
}
#content h1 {
	font-size:calc( var(--basefontsize) + 2.5vw);
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	color:var(--hcolor);
}
/* desktop */
@media only screen and (min-width: 701px) {
	#container {
		margin: auto;
		border-left: solid 1px #dddddd;
	}
	#sitetitle, #menu {
	}
	#menu {
		position: relative;
		z-index: 11;
		opacity: .9;
		width: 100%;
		display: block !important;
		margin: auto;
		box-shadow: 0px -30px 20px #000000;
		background:var(--deskmenubgcolor);
	}
	#menu.fixed {
		position: fixed;
		top: 0px;
		border-bottom: solid 1px;
		box-shadow: 0px 5px 20px #999999;
		opacity: 1;
	}
	#sitetitle {
		background: url('../images/stars2.jpg') no-repeat #999999;
		height: 300px;
		background-size: 100% 300px;
		background-attachment: fixed;
		position:relative;
		z-index:0;
	}
	.sitetitletext {
		position: fixed;
		top: 125px;
		opacity: 0.0;
		font-size:calc( var(--basefontsize) + 2vw);
}
	#title {
		position: fixed;
		top: 10px;
		right: 10px;
		color: var(--pagetitlecolor);
		z-index: 1 !important;
		font-weight: bold;
		opacity: 0.0;
	}
	#menu>ul {
		display: table;
		padding: 0px;
		margin: 0px;
		width: 100%;
	}
	#menu>ul>li {
				font-size:calc( var(--basefontsize) - .4vw);
		border: solid 0px;
		display: table-cell;
		vertical-align: middle;
	}
	#menu ul {
		padding: 0px;
		margin: 0px;
	}
	#menu li {
		list-style-type: none;
		text-align: center;
		padding: 0px;
		margin: 0px;
	}
	#menu li a {
		display: block;
		padding: 3px;
		color: var(--deskmenulink);
	}
	#menu li:hover:not(.spacer) {
		background: var(--menuhoverbg);
	}
	#menu li > a:hover{
		color: var(--menuhoverfontcolor);
	}
	#menu ul li>ul {
		display: none;
		list-style-type: none;
		border: solid 1px #999999;
		position: relative;
		box-shadow: 3px 3px 3px #999999;
		position: absolute;
		border: solid 2px;
		width: 180px;
		text-indent: 10px;
	}
	#menu ul li>ul>li {
		text-align: left;
	}
	#menu ul>li.active {
		background: var(--menuactivebg);
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		box-shadow: 0px -55px 50px #ffffff;
	}
	#menu .active > a {
		background: var(--menuactivebg);
		color: var(--menulinkactive);
	}
	#menu ul.subitem{
		background: var(--menubgdrop);
	}
	#menu .subitem a {
		color: var(--menulinkcolor);
	}
	#menu .subitem .active a {
		color: var(--menulinkactive);
	}
	#menu ul li.trigger:hover > a{
		color:var(--menuhoverfontcolor);
	}
	#menu:hover ul li.trigger:hover ul {
		display: block;
	}
	#menutrigger {
		display: none;
	}
	#main {
		position: relative;
		z-index: 10;
		background:var(--pagebg);
	}
	#content h1 {
		padding: 0px;
		margin-top: 20px;
		margin-bottom:10px;
	}
	.full-bg-image {
		border-top: solid 3px #000000;
	}
	.callout {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		color: #ffffff;
		font-size: 40px;
		font-weight: bold;
		text-shadow: 3px 3px 3px #000000;
	}
	#rss-feeds {
		max-width:900px;
	}
}
/* end desktop */
@media only screen and (min-width: 900px) {
	.full-bg-image {
		box-shadow: inset 0px 20px 30px #444444;
		border-bottom: solid 3px #000000 !important;
		border-top: solid 5px #000000;
	}
}
@media only screen and (max-width: 1100px) {
	#menu .spacer {
		border: solid 0px;
		width: 1%;
	}
	#sitetitle {
		background-size: 1920px 300px;
		background-attachment: fixed;
	}
}
/* ------------ end desktop only -----------------*/
/*---------------------- MOBILE ---------------------------------------*/
@media only screen and (max-width: 700px) {
	* {
		transform: unset !important;
	}
	#sitetitle {
display:table;
		width: auto;
		border: solid 0px;
		padding: 0px;
		background: var(--mobilesitebg);
		color: var(--sitetitlecolor);
		font-weight:bold;
    font-size:calc( var(--basefontsize) + 3vw);
		box-shadow: 3px 3px 5px #333333;
		position: fixed;
		width: 100%;
		z-index: 100;
		opacity: .9;
		border-bottom: solid 2px #000000;
      height:55px;overflow:hidden;
	}
	#title {
		display: none;
	}
	#menutrigger {
		display: block;
		top: -8px;
		left: 10px;
		color:var(--hamburger);
		font-size: 48px;
		z-index: 100;
		position: fixed;
		width:80%;
	}
	.sitetitletext{
		text-align:right;
display:table-cell;
vertical-align:middle;padding-right:10px;
	}
	#menutrigger:hover {
		cursor: pointer;
	}
	#menu li.spacer {
		display: none;
	}
	#menu {
		width: 100%;
		position: relative;
		top: 54px;
box-shadow:0px 3px 15px #999999;
border-bottom:solid 3px var(--menulinkcolor);

	}
	#menu ul {
		padding: 0px;
		margin: 0px;
	}
	#menu>ul {
		display: block;
		width: 100%;
		background: var(--menubgdrop);
	}
	#menu>ul>li {
		display: block;
		width: 100% !important;
		text-align: left;
		border: solid 0px;
		border-top: solid 1px #336633;

	}
	#menu ul>li>ul {
	}
	#menu ul>li>ul>li {
		text-align: left;
		border-top: solid 1px #336633;
		border-top: solid 1px #666666;
	}
	#menu ul>li>ul>li a:before {
		content: "\000BB";
		margin-right: 5px;
		color: var(--menulinkcolor);
	}
	#menu ul>li a {
		padding:5px 0px 5px 0px;
		padding-left: 10%;
font-size:calc( var(--mobilebasefontsize) + 1.5vw);
	}
	#menu ul>li>ul>li a {
	padding-left:calc( var(--mobilebasefontsize) + 15vw)
	}
	#menu ul>li a:hover {
		background: var(--menuhoverbg);
		color:var(--menuhoverfontcolor);
	}
	#menu li>ul>li.menuoff a {
	}
	#menu .active > a {
		background: var(--menuactivebg);
		color: var(--menulinkactive);
	}
	#menu .subitem a {
		background: none;
	}
	#menu .subitem .active a {
		background: var(--menuactivebg);
	}
	#menu ul li.trigger:hover > a{
		color:var(--menuhoverfontcolor);
	}
	#menu a {
		color: var(--menulinkcolor);
		text-decoration: none;
		display: block;
		border: solid 0px;
		font-size: 20px;
	}
	#main {
		position: relative;
		top: 60px;
	}

#content {font-size: var(--mobilebasefontsize);}
#content h1{font-size:calc( var(--mobilebasefontsize) + 3vw);}
#content h2{font-size:calc( var(--mobilebasefontsize) + 2.5vw);}
#content h3{font-size:calc( var(--mobilebasefontsize) + 2vw);
 padding:0px;margin:5px 0px 5px 0px;}
#content p{
		font-size: var(--mobilebasefontsize);
    padding:0px;
	}

	#content ul {
		margin-left: 30px;
		padding: 0px;
		font-size:calc( var(--mobilebasefontsize)  - 0.5vw);
	}
	}
	.full-bg-image {
		height: 300px;
		box-shadow: none;
	}
	.multicol {
		column-width: 33%;
		-webkit-column-count: 2;
		/* Chrome, Safari, Opera */
		-moz-column-count: 2;
		/* Firefox */
		column-count: 2;
	}
	#rss-feeds img {
		max-width: 100%;
		height: auto;
	}
	.blogentry h3{
		padding:0px;
		margin:0px;
	}
	.blogentry h3 a {
		text-shadow: none;
	}
	.blogentry .blogdate{
		font-weight:bold;
	}
	.blogentry h3 {
		font-size: 16px;
		line-height: 17px;
		font-weight:bold;
	}
	.blogentry .snippet {
		font-size: 13px;
		padding: 0px;
	}
	.blogentry .teaserimage {
		padding: 0px;
		padding-right: 5px;
	}
	.blogentry .teaserimage img{
		border:solid 5px #dddddd;
		box-shadow:none;
	}
	#footer {
		margin-top: 50px;
		padding-bottom: 20px
}
}
/* end media */
@media only screen and (max-width: 480px) {
	#sitetitle {
		font-size: 15px;
	}
	#menutrigger {
		font-size: 50px;
		top:-9px;
	}
	#menu {
		top: 53px;
		border:solid 1px;
	}
	#menu ul>li>a {
		padding-left: 10px;
	}
	#menu ul>li>ul>li a {
		padding-left: 20px;
	}
	.full-bg-image {
		width: 90%;
		height: 250px !important;
		border: solid 1px;
		background-attachment: scroll !important;
		background-position: top center !important;
		background-size: cover;
		box-shadow: none;
		border: solid 2px;
		margin-left: auto;
		margin-right: auto;
	}
	#container {
		//border:solid 1px #ff0000;
	}
	.multicol {
		column-width: 1%;
		-webkit-column-count: 1;
		/* Chrome, Safari, Opera */
		-moz-column-count: 1;
		/* Firefox */
		column-count: 1;
	}
	.multicol li {
		display: inline-block;
		text-indent: -11px;
		border: solid 0px;
		width: 100%;
	}
	.multicol li:before {
		content: "• ";
		color: #000000;
		font-weight: bold;
		font-size: 1.2em;
	}
}
/* ios image */
.iosimage {
	width: 95%;
	height: 350px !important;
	border: solid 2px #000000;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-attachment: scroll !important;
	background-position: center center !important;
	background-size: cover;
}
