/* Resets
------ */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
}
/* Stuf
------ */
body {
background: url('cork1.jpg') no-repeat center center fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
width:95%;
margin:auto;
overflow-x:hidden;
}
#demo{margin-top:22px;
border:solid 0px;}
.content {
border-radius:5px;
padding:10px;
border:solid 1px #999999;
font-family: 'Indie Flower', cursive;
box-shadow: 0 12px 9px -12px #000000;
}
.content h2{font-size:24px;
text-shadow: 2px 2px 3px #555555;
margin-bottom:15px;text-align:center;}
.content p{color:#333333;font-size:18px;font-style:italic;
line-height:110%;}
.author{font-family: 'Gloria Hallelujah', cursive;}
.content.scaleup{z-index:1000;cursor:pointer;
-moz-transform:scale(1.2,1.3) rotate(-4deg);
-webkit-transform:scale(1.2,1.3) rotate(-4deg);
transform:scale(1.2,1.3) rotate(-4deg);}

.thumb{
width:64px;
height:64px;
position:absolute;
top:-28px;
right:-32px;
z-index:900;
border:solid 0px;
}