
a{color:#ffff66;font-weight:bold;}

    body {
        background-image: radial-gradient(#666666, #000000);
        background-attachment: scroll;

        font-family: arial;
        color: #bbbbaa;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

div.newlanguage > h2:nth-child(2){color:#ffffff !important;font-size:40px;text-shadow:5px 5px 5px #444444;}
div.newlanguage > h2:nth-child(2) .firstentry{display:none !important}

.boldcolor{font-weight:bold;color:#ffff88;font-size:1.1em;}

    .newlanguage>span {
        display: block;
        scroll-margin-top: 10px;
        padding-top: 30px;
    }

    

    select {
        font-size: 20px !important;
        text-align: center;
        padding: 5px;
    }

    .newlanguage {
     
    }

    .newlanguage:nth-child(odd) {
        background: #777777 !important;
    }

    .newlanguage:nth-child(even) {
        background: #888888 !important;
    }

    .virtualpage {
        min-width: 200px;
        margin-left;
        auto;
        margin-right: auto !important;
       
    }


    .leftside {
        display: inline-block;
        margin: 5px;
        width: 24%
    }

    .leftside img {
        width: auto;
        min-height: 100px;
        max-height: 60%;
        width: 90%;
    }

    .origin {
        margin: 5px;
        color: #dddddd;
        font-size: 12px !important;
        ;
        display: block;
        text-align: center;
        overflow-wrap: anywhere !important;
    }

    .instructs {
        font-weight: bold;
        font-size: 20px;
        width: 50%;
        margin: auto;
        margin-bottom: 10px;
    }

    .cname {
        font-weight: bold;
        display: block;
    }

    #paginatediv {
        text-align: center;
        margin: auto !important
    }

    #paginatediv a {
       
        padding: 5px;
       background: #ff9900;
        color: #ffffff;
    }

    .origin {
        font-size: 1.2vw;
    }

    div>h3 {
        font-size: 12px;
    }

    .nostyle {
        font-weight: bold;
        font-size: 20px;
        color: #ff6633;
        background: none !important;
        padding: 0px;
    }

    h2 {margin-top:50px;paddng:0px;padding-top:10px !important;margin-bottom:0px;
border-top:solid 2px #666666;}

.title{display:block;
border:solid 0px;}


        .subdomain {
            font-size: 12px;
            color: #777;
        }

        .lazy-image {
            opacity: 0;
            transition: opacity 3.5s;
        }

        .lazy-image.loaded {
            opacity: 1;
        }


i{font-size:1.2vw !important;color:#ffffdddd}
.origin {font-size:1.1vw !important;}
.newip>.origin{font-weight:bold !important;
color:#ffffff;border-radius:10px;padding:5px;border:solid 1px #999999;width:15%;margin:auto;background:#999999;}
hr.separator{color:#ff0000 !important;border-top:solid 4px #888888;
border-bottom:solid 2px #444444 !important;
margin-bottom:50px
}

/*(@media print
{    
    .hideprint
    {
        display: none !important;
        h2:border:0px;
    }
}
*/

