@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

html { }
body {padding:0px;margin:0px;font-family:arial;}
#main{padding:0px;//max-width:100%;}
.wrapper{max-width:900px;margin:auto;height:100%;}
.biggerwrapper{max-width:1000px;margin:auto;height:100%;}
#addsear{background:#f6f5f0;border:solid 0px;color:#666666;font-size:9px;}
#addsear .two-three{margin-top:10px;}
#addsear .one-three{background:url('search.jpg') no-repeat;height:35px;border:solid 0px;}
#midbanner{background:url('bigbg.jpg');background-size:cover;}
#people{box-sizing:border-box;border:solid 0px;background:url('lawyers-big.png') no-repeat;background-size:contain;}
#menu, #midcols {background:#6a0000;color:#ffffff;text-transform:uppercase;}
#menu ul{list-style-type:none;padding:0px;margin:0px;}
#menu li:hover{cursor:pointer;}
#menu li{text-transform:uppercase;}
.clear{clear:both;line-height:1px;}
#midcols {text-align:center;font-family: 'Roboto', sans-serif;}
#midcols .one-three .partone{font-size:30px;font-weight:bold;background:#8f0100;padding:8px 0px 5px 0px;}
#midcols .one-three .parttwo{font-size:25px;font-weight:bold;background:#6a0000;padding:10px 0px 10px 0px;text-transform:uppercase;}
#midcols .one-three .parttwo .comment{font-size:13px;font-weight:100;}
#notablecases .one-four:hover{background:#ffffff;border:solid 2px #739fba;cursor:pointer;}
#bluebutton{border:solid 1px;width:200px;margin:auto;margin-top:30px;background:#79a1bb;padding:10px;color:#ffffff;text-transform:uppercase;font-weight:bold;border:solid 2px #202b41;}
#bluebutton:hover{background:#ffffff;color:#666666;cursor:pointer;}
#midwrapper li {list-style-image:url('check.png');font-family:oswald, sans-serif;font-weight:300;margin-bottom:6px;}
#midwrapper li h2{font-family: 'roboto', sans-serif;padding:0px;margin:0px;}
#notable {background:#dddcd7;font-family:oswald, sans-serif;font-weight:400;}
#notable .wrapper{display:table;width:100%;}
#notable .one-three.one,
#notable .one-three.three{background:url('dollar.jpg') center center no-repeat;height:53px;display:table-cell;}
#notable .one-three.two{text-align:center;display:table-cell;margin-top:10px;font-size:25px;color:#666666;text-transform:uppercase;}
#notablecases {background:#f6f5f0;padding-top:30px;padding-bottom:50px;}
#notablecases .wrapper{text-align:center;color:#666666;}
#notablecases h2,#notablecases h3{padding:0px;margin:0px;}
#notablecases h2{padding-top:20px;font-size:30px;}
#notablecases h3{font-size:15px;font-weight:300}
#notablecases .one-four{border:0px;padding:20px;background:url('bracket2.jpg') no-repeat;background-position:center center;background-size:auto;height:170px;} 
#notablecases .one-four p{font-size:10px;line-height:13px !important;}


/* ---------------- everything -------------- */   


/*---DESKTOP Only---------------------------------- */
@media only screen and (min-width: 769px) { 

#addsear .two-three{}
#main{border:solid 0px;margin:auto;}
#widetop .one-three{height:100px;}
#widetop .name{display:none;}
#widetop .one-three.one{background:url('desklogo.jpg');background-size:contain;}
#widetop .one-three.two{background:url('desktexas.jpg');background-size:contain;}
#widetop .one-three.three{background:url('deskphone.jpg');background-size:contain;}
#menu ul{display:table;width:100%;}
#menu li{display:table-cell;padding:15px 10px 15px 10px;font-size:12px;font-weight:bold;text-align:center;}
#menu li:hover{background-color:#8f0100;}
.one-three{box-sizing:border-box;border:solid 0px #ff0000;width:33.33%;float:left;}
.two-three{box-sizing:border-box;border:solid 0px #ff0000;width:66.66%;float:left;}
.one-four{box-sizing:border-box;border:solid 1px #000000;width:25%;float:left;}
#midbanner{background:url('bigbg.jpg');background-size:cover;height:390px;padding-top:30px}
#people{box-sizing:border-box;border:solid 0px;width:65%;height:100%;background:url('lawyers-big.png') no-repeat;background-position:0px bottom;background-size:contain;float:left;}
#form{box-sizing:border-box;border:solid 0px #000000;background:url('40grad.png');margin-top:-30px;width:30%;height:420px;float:right;margin-right:24px;}
#forminner{height:100%;background:url('form.png') center no-repeat;background-size:contain;}
#midcontent {margin-top:30px;border:solid 0px;box-sizing:border-box;}
#midcontent #title{font-size:31px;text-align:center;padding:40px 0px 40px 0px;//font-weight:bold;color:#333333;background:url('bracket.png') no-repeat center;background-size:140px;text-transform:uppercase;font-family: 'Oswald', sans-serif;line-height:34px;}
#midwrapper{display:table;border:solid 0px;border-collapse: separate;margin:auto;margin-top:30px;}
#midwrapper .one-two{display:table-cell;background:url('photo.jpg') no-repeat top right;border:solid 0px;background-size:cover;overflow:hidden;width:50%; padding-left:100px;}
#midwrapper .two-two{display:table-cell;width:50%; padding-left:20px;font-family: 'roboto', sans-serif;}
#midwrapper h2{color:#6a0000;font-size:18px;}
#midwrapper .two-two p{font-size:17px;font-family:oswald, sans-serif;padding-right:100px;font-weight:300;}}
#notablecases .one-four{border:0px;}


/* ------------ end desktop only -----------------*/ 


/*---------------------- MOBILE  ---------------------------------------*/  
@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) { 

body{}
#addsear{display:none;}
#widetop .two, #widetop .three{display:none;}
#widetop .one{position:absolute;top:23px;color:#ffffff;font-size:24px;margin-left:20px;}
#header{background:#ff0000;min-height:70px;background: #6a0000 url('hamburger.png') no-repeat right top;width:100%;top:0px;border-bottom:solid 2px;box-shadow:0px 3px 13px #000000;cursor:pointer;z-index:10;}
#widetop .clear{display:none;}
#menu {border:solid 1px #000000;;height:auto;position:relative;display:block;display:none;}
#menu.show{display:block;position:relative;top:70px;}
#menu .wrapper{height:auto;}
#menu .menuoff{}
#menu li{float:none;border:solid 1px #000000;background:#8F0100;padding:10px;font-weight:bold;padding-left:20px;font-size:20px;}
#menu li:hover{background-color:#6a0000;font-weight:bold;}
#menu ul{height:auto;float:none;}
#midbanner{background:url('bigbg.jpg');height:250px;}
#people{width:100%;height:100%;background-size:cover;background-position:0 30px;}
#people.peopleshow{margin-top:70px;}
#form{width:100px;}
#midcontent {margin-top:30px;border:solid 0px;box-sizing:border-box;}
#midcontent #title{font-size:20px;text-align:center;padding:40px 0px 40px 0px;color:#333333;background:url('bracket.png') no-repeat center;background-size:110px;text-transform:uppercase;font-family: 'Oswald', sans-serif;line-height:24px;}
#midwrapper{padding:15px;}
#notable .one-three.two{border:solid 0px;padding:0px;position:relative;top:-10px;}
  #notablecases .one-four{
border:0px;padding:0px;background:url('bracket2.jpg') no-repeat;
background-position:center center;
    background-size:10% 100%;
    height:130px;
  border:solid 2px #f6f5f0;
    display:block;
    margin-bottom:30px;
    padding-top:5px;
  } 
  
#bluebutton{margin-top:0px;}
#notablecases .one-four:hover{
}  

/*--------------- SMALL MOBILE -----------------------*/  
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) { 

html, body{min-width:320px;}
#header {min-width:320px;}
#widetop .one{position:absolute;top:30px;color:#ffffff;font-size:14px;margin-left:10px;font-weight:bold;} 
#midbanner{height:160px;padding-top:10px}
#midbanner{background:url('bigbg.jpg');height:250px;}
#people{width:100%;height:100%;background-size:cover;background-position:0 10px;}
#form{width:100px;}
#menu li{padding-left:10px;font-size:16px;}
#people{width:100%;height:100%;background-size:contain;background-position:center bottom;}

}
