*{outline:0;}
body{width:99%;
font-family:'PT Sans', sans-serif;margin:0;
margin-top:10px;padding:0;overflow-x:hidden;
background-image:url(../images/bg2.jpg);background-repeat:repeat-x;background-color:#6d91b2;}
a{text-decoration:none;}


#container {margin:auto;}
/* HEADER  */
#header{width:100%;
height:auto;margin-bottom:15px;
margin-left:auto;margin-right:auto;}

#header .middle {
height: 60px; background-color: #1ab4ed; 
background: #e6e6e6;
background: -moz-linear-gradient(top, #e6e6e6 0%, #f2f2f2 22%, #e6e6e6 52%, #a1a1a1 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(22%, #f2f2f2), color-stop(52%, #e6e6e6), color-stop(100%, #a1a1a1));
background: -webkit-linear-gradient(top, #e6e6e6 0%, #f2f2f2 22%, #e6e6e6 52%, #a1a1a1 100%);
background: -o-linear-gradient(top, #e6e6e6 0%, #f2f2f2 22%, #e6e6e6 52%, #a1a1a1 100%);
background: -ms-linear-gradient(top, #e6e6e6 0%, #f2f2f2 22%, #e6e6e6 52%, #a1a1a1 100%);
background: linear-gradient(to bottom, #e6e6e6 0%, #f2f2f2 22%, #e6e6e6 52%, #a1a1a1 100%);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f2f2f2', endColorstr='#a1a1a1'); /* IE6-9 */
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: inset 0px 1px 1px #FFF, 0px 0px 6px #313131;
}

.logo{padding:20px;}



#header .bottom{padding:0;margin:0 auto;
border-bottom-left-radius:10px;border-bottom-right-radius:10px;
margin-top:-5px;padding-top:5px;
background-color:transparent;box-shadow:0 3px 4px #001122;
}

#header .bottom ul {
width: 100%;
list-style-type:none; 
height: 48px;
overflow: hidden;
border-radius:0px 0px 10px 10px;
margin: 0;
padding: 0;
background: #4e4e4e; /* Old browsers */
background: -moz-linear-gradient(top, #4e4e4e 40%, #2e2e2e 62%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#4e4e4e), color-stop(62%,#2e2e2e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4e4e4e 40%,#2e2e2e 62%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4e4e4e 40%,#2e2e2e 62%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4e4e4e 40%,#2e2e2e 62%); /* IE10+ */
background: linear-gradient(to bottom, #4e4e4e 40%,#2e2e2e 62%); 
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4e4e4e', endColorstr='#2e2e2e'); /* IE6-9 */
}


#header .bottom ul li{
border-left:solid 1px #777;
border-right:solid 1px #555;font-weight:
bold;text-align:center;
line-height:48px;color:#fff;
font-size:12px;height:100%;float:left;padding:0;}
#header ul li.first{border-left:0;}
#header ul li.last{border-right:0;}

#header .bottom ul li:first-child {border-left:none;}

#header .bottom ul li:hover {
height: 48px;
//overflow: hidden;
margin: 0; padding: 0;
background: #a2a2a2; /* Old browsers */
background: -moz-linear-gradient(top, #a2a2a2 32%, #535353 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,#a2a2a2), color-stop(100%,#535353)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a2a2a2 32%,#535353 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a2a2a2 32%,#535353 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a2a2a2 32%,#535353 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2a2a2 32%,#535353 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#a2a2a2', endColorstr='#535353'); /* IE6-9 */
}

#header .bottom ul li a{color:#fff;text-shadow:0 -1px 1px #262626;display:block;}
#header .middle #logo{background:url(images/logo_citi.png) center left no-repeat;margin:12px 14px 10px;width:430px;height:40px;float:left;margin:10px 0 0 10px;padding:0;text-indent:-9999px;}

/*\ header */

#main{}

/* entire container around each slide */
.slidewrapper{width:100%;margin-bottom:30px;}


/* Slide header/title parts  */

.slideheader{width:100%;}

.slidetitle{background-color:#676767;
width:245px;height:12px;margin-left:auto;
margin-right:auto;font-size:14px;
padding-top:7px;color:#ffffff;
text-align:center;
border-top-left-radius:5px;
border-top-right-radius:5px;
border:solid 1px #dddddd;
border-bottom:0px;
z-index:200;
position:relative;top:1px;
}
.greybar{height:16px;background-color:#676767;
border-top-left-radius:5px;
border-top-right-radius:5px;
border:solid 1px #dddddd;
border-bottom:0px;
z-index:0;
position:relative;
}

/*\\\\\\ Slide header/title parts  */
/* container around slide EXCEPT for slideheader */

.slidebody{position:relative;height:auto;
font-size:12px;border-radius:10px;
border-top-left-radius:0;
border-top-right-radius:0;
margin-bottom:10px;
box-shadow:0 3px 4px #444455;
margin-left:auto;margin-right:auto;
background:#ffffff;
border:solid 1px #dddddd;
border-top:0px;
}


/* first slide has bigger corners */
#first .slidebody{border-radius:10px;
border-top:solid 1px #dddddd;}

/* TOP CONTENT PART OF SLIDE */
/* This is the top, always visible content part of the slide */

.intro{padding-bottom:0;
padding-top:15px;margin-bottom:50px;
border:solid 0px;
width:95%;
margin-left:auto;margin-right:auto;}

.intro h2,.expand_content h2{;color:#00aceb;
font-size:26px;font-weight:normal;
padding:0;margin:0;margin-bottom:20px;
text-align:center;}

.intro h3{font-family:'PT Sans', sans-serif;
color:#e28426;font-size:22px;font-weight:normal;
padding-top:10px;padding-bottom:20px;margin:0;}

.intro p{color:#676766;font-size:16px;}
/* The entire bottom part of the content that expands */

.mark{font-size:22px;position:relative;left:-4px;top:-2px;}
/* intro has two sides, left and right.  */.left{width:420px;float:left;margin-left:35px;}
.right{width:420px;float:right;margin-right:35px;}
/* columns starting point within left/right *//*  of each slide portion */.col1,.col2{border:solid 0;width:47%;float:left;font-family:arial;color:#676766;font-size:16px;line-height:22px;}
.col2{float:right;}


.expand{margin-top:0;position:relative;}

/* 'expand' can be opened or closed */
.closed{height:0;overflow:hidden;
border:solid 0 #000000;}

.open{height:auto;overflow:hidden;
border:solid 0;position:relative;top:0;}

.expand.open{border:solid 0;margin-top:-60px;}

.expand_content{width:65%;
float:left;color:#999999;margin-left:20px;
border:solid 0px #000000;
padding-top:0px;padding-bottom:20px;
overflow:hidden;}

.expand_content p{
  border:solid 0;
    margin-left:0px;
    color:#676766;font-size:13px;
margin:0px;
margin-bottom:20px;}

.top{cursor:pointer;width:41px;height:18px;position:absolute;background:url(images/slidetop.jpg);padding:0;top:10px;right:10px;border:solid 0;}
/* two button states for bottom of slide. */

.clickme,.hideme{width:160px;
text-align:center;color:#ffffff;
font-size:14px;border-radius:5px;padding:10px;
margin:auto;}

.clickme{background-color:#00aceb;
color:#ffffff;
padding-right:13px;
position:relative;}

.hideme{background:none;color:#999999;top:0;float:left;position:relative;left:210px;top:-40px;}

.hide{opacity:.0;
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
-moz-opacity: 0.0;
filter: alpha(opacity=0);}

.show{display:block;
opacity:1.0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
.plus_hide,.ex_hide{display:none;}
.plus_show{display:block;}

.ex{color:#ffffff;font-weight:normal;
font-family:'PT Sans', sans-serif;
position:relative;left:120px;float:left;top:48px;font-size:15px!important;}

.plus,.easy_plus{
font-weight:bold;float:right;position:absolute;top:0;top:10px;right:10px;}

.plus{font-weight:bold;float:right;position:absolute;top:0;top:10px;right:10px;}



.pulseate,.pulseblue{text-shadow:0 0 5px #ffffff;behavior:url(/css/PIE.htc);}
/*\ button states for bottom of slide. */.toggle{cursor:pointer;}

/*\------ Orange Easy Tip Section ----- */
/* background image and positioning for default easytip state*/


.easytip{
float:right;
height:30px;text-align:center;
padding-bottom:40;
height:auto;
}

.easytip, .easytip_closed{
width:245px;
background-color:#999999;}

.easytip_closed .easy_plus{
color:#ffffff;font-size:20px;
font-weight:normal;position:relative;
top:45px;right:115px;}

.easytip, .easytip_closed{border-top-left-radius:10px;
border-bottom-right-radius:10px;
}

/* when collapsed */
.easytip_closed{
border:solid 0;height:68px;
position:relative;z-index:600;
float:right;
top:-16px;
background-color:#888888;border:solid 0;
}

/* make tip taller on hover in default state */
.easytip_closed.min:hover{
height:96px;top:-44px;cursor:pointer;}

/* bottom bit when top is expanded */
.easytip_closed.max{
background-color:#000000;}

/* title when tip is minimized*/
.easytip_closed .easy_title{top:17px;left:95px;}
.easytip_closed.max .easy_title{color:#e38426;}

.easy_title{color:#ffffff;font-size:12px;position:relative;top:18px;left:20px;letter-spacing:1px;}
.easy_content{color:#ffffff;margin-top:30px;border:solid 0px;}
.easy_content h2{width:200px;text-align:left;font-size:22px;line-height:24px;font-weight:normal;margin-left:21px;position:relative;top:20px;border:solid 0;}
.easy_content p{
border:solid 0;width:200px;margin-left:20px;
font-size:16px;line-height:22px;text-align:left;
position:relative;top:38px;z-index:999;}


.savetoday{font-family:arial;width:300px;
color:#00ACEB;;font-size:22px;
border:solid 0px;
margin:auto;
position:relative;
top:10px;}

.savetoday a.btn{
font-family:arial;
font-size: 16px;
font-weight:bold;
float: right;
padding:5px 30px 5px 16px;
color:#ffffff;
width: 105px;
font-weight: bold;
text-align: center;
border-radius: 3px;
box-shadow: #666 0px 1px 2px;
background: url('images/btn-arrow.png') no-repeat 100% 50%, linear-gradient(#c4d82d, #6ebb1f);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#c4d82d', endColorstr='#6ebb1f'); /* IE6-9 */
position:relative;top:-2px;
left:8px;
}

.savetoday .btn:hover{
background: url('images/btn-arrow.png') no-repeat 100% 50%, linear-gradient(to bottom,  #75c027 40%,#6ebb1f 62%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#75c027', endColorstr='#6ebb1f'); /* IE6-9 */
 }



/*\------ SLIDE Merchandise Customization ----- *//*------ SLIDE Travel Customization ----- */#travel .left .trvl{float:right;margin-right:70px;width:300px;height:200px;background:url(images/travelpic.png) no-repeat;}

.expand_content .hotels{width:456px;height:156px;padding-bottom:40px;overflow:hidden;}
.expand_content .hotels img{float:left;width:152px;height:78px;}

/*  FOOTER  */
.hrline{border-top:solid 1px #7c9cba;margin-top:100px;}
#footer{font-size:11px;width:960px;color:#adc1d4;font-family:arial;margin:auto;margin-top:-40px;}
#footer .footl a{font-size:14px;margin-right:10px;outline:none;color:#fff;text-decoration:none;}
#footer .footlogo{width:84px;height:66px;background:url(images/logo_citi_footer.png) no-repeat top right;border:solid 0;width:100%;margin-top:30px;position:relative;left:20px;}
.footf{border:solid 0 #ff0000;display:block;height:auto;padding-top:0;margin-top:0;}
.footf a{color:#ffffff;text-decoration:underline;}
.mark_small{font-size:12px;position:relative;top:-7px;}

#main a, #footer a{cursor:pointer;}

#boxer{}

.smallboxa{
border:solid 0px;
height:100%;
width:100%;
position:fixed;
top:0px;
background-image:url('images/light.png');
z-index:-1000;
display:table;
opacity:0;
}

.smallboxb{
border:solid 0px;
height:100%;
width:100%;
position:fixed;
top:0px;
background-image:url('images/light.png');
z-index:1000;
display:table;
opacity:0;
}

.bigbox{
border:solid 0px;
height:100%;
width:100%;
position:fixed;
top:0px;
background-image:url('images/light.png');
z-index:1000;
display:table;
}

.dis{border:solid 1px;
display:table-cell;
vertical-align:middle;
margin:auto;
}

.disa{border:solid 1px;text-align:center;
width:200px;
margin:auto;
padding:40px;
box-shadow: 0px 10px 40px;
background-color:#ffffff;
border-radius:10px;
border:solid 3px #222222;
cursor:pointer;
}

.disb {border:solid 1px;text-align:center;
width:100px;
margin:auto;
padding:10px;
padding-top:40px;
padding-bottom:40px;
box-shadow: 0px 0px 30px #ffffff;
background-color:#ffffff;
border-radius:90px;
border:solid 3px #222222;
cursor:pointer;
}

  label {
    display: inline-block;
    width: 5em;
  }

#floater{position:fixed;
width:100%;font-size:10px;
color:#ffffff;
background:#000000;
border-top:solid 2px;
text-align:center;
padding:5px;
bottom:0px;
opacity:0.8;
z-index:600;
box-shadow:}
