
#ratingForm label{font-size:20px;}
#reviewpage{position:relative;font-family:helvetica;}
#reviewpage .showing{
text-align:center;margin:auto;font-weight:bold;margin-bottom:10px;
line-height:35px;font-size:20px;}
#reviewpage .showingreviews,
#reviewpage .showingstart,
#reviewpage .showingthrough,
#reviewpage .showingend{background:#ff9900;
color:#ffffff;padding:5px;border-radius:5px;}
#reviewpage .showingstart{background:#005599;}
#reviewpage .showingthrough{background:#0099ff;}
#reviewpage #topratings{border:solid 0;width:50%;margin:auto;min-width:210px;margin-bottom:20px;}
#reviewpage #topratings .numreviews{font-weight:bold;
text-align:center;margin-bottom:10px;}
#reviewpage #topratings .per{float:right;position:absolute;right:18%;margin-top:6px;}

#reviewpage #topratings .reviewgraph{background:#ff9900;
display:block;border:solid 0;height:31px;
float:left;position:relative;left:-41px;box-shadow:3px 3px 3px #aaaaaa;top:0px;}
#reviewpage #topratings .revtype{float:left;position:relative;left:-45px;margin-top:6px;}
#reviewpage .col-sm-10{width:80%;float:right;}
#reviewpage .col-sm-2{width:20%;float:left;}
#reviewpage .commentright{font-size:17px;line-height:22px;color:#888888;
text-indent:-15px;}
#reviewpage .quotepadding{margin:0px 40px 0px 20px;}
#reviewpage .quote{display:inline;font-size:20px;
  font-weight:bold;color:#000000;
position:relative;}
#reviewpage .quoteleft {}
#reviewpage .quoteright {}

#reviewpage .date{font-style:italic;font-size:13px;color:#666666;}
#reviewpage .entry{width:100%;display:none;border-bottom:solid 2px #dddddd;padding-bottom:20px;clear:both;margin-bottom:20px;}
#reviewpage .filterrating{font-size:20px;
margin:auto;width:240px;//border:solid 1px;}
#reviewpage .filterrating select{margin-left:10px;background:#1861BD;font-size:20px;color:#ffff00;padding:3px 30px 3px 3px;text-align:center;}
#reviewpage .leave{border:solid 2px #666666;width:150px;text-align:center;background:#ff9900;color:#ffffff;padding:10px;border-radius:10px;position:relative;float:rleft;margin-bottom:0;margin-top:10px;}
#reviewpage .leave:hover{cursor:pointer;}
#reviewpage .name,#reviewpage .city{font-weight:bold;}
#reviewpage .navbuttons{width:140px;margin:auto;margin-bottom:20px;font-size:20px;border:solid 0;}
#reviewpage .navbuttons .back{float:left;}
#reviewpage .navbuttons .forward{float:right;}
#reviewpage .navbuttons span{border:solid 1px #000000;padding:4px;margin:3px;background:#009900;color:#ffffff;border-radius:5px;box-shadow:0 3px 9px #666666;}
#reviewpage .navbuttons span:hover{cursor:pointer;background:#ffff00;color:#000000;}
#reviewpage .rating{float:none;margin-top:-10px;color:#ff9900;font-size:30px;}
#reviewpage .reviewemail{font-size:11px;}

#reviewpage .stars1 .reviewgraph{-webkit-animation:w70 2s backwards;-webkit-animation-delay:0;}
#reviewpage .stars2 .reviewgraph{-webkit-animation:w70 2s backwards;-webkit-animation-delay:.5s;}
#reviewpage .stars3 .reviewgraph{-webkit-animation:w70 2s backwards;-webkit-animation-delay:1s;}
#reviewpage .stars4 .reviewgraph{-webkit-animation:w70 2s backwards;-webkit-animation-delay:1.5s;}
#reviewpage .stars5 .reviewgraph{-webkit-animation:w70 2s backwards;-webkit-animation-delay:2s;}
    @-webkit-keyframes w70 {
        from {
            width: 0%;
        }
    }

#reviewpage div[class^='star']{background:#eeeeee;margin-bottom:3px;height:32px;border:solid 1px #dddddd;}
.cms-customerreviews h1{width:100%;text-align:center;margin:auto;padding:30px 10px;background:#00ADEF;display:block;color:#ffffff;border-radius:6px;font-size:40px;margin-bottom:10px;}
.rating{border:none;float:left;}
.rating>.half:before{content:"\f089";position:absolute;}
.rating>input:checked~label,.rating:not(:checked)>label:hover,.rating:not(:checked)>label:hover~label,.rating>input:checked+label:hover,.rating>input:checked~label:hover,.rating>label:hover~input:checked~label,.rating>input:checked~label:hover~label{color:#ff9900;}
.rating>label{color:#ddd;float:right;}
.rating>label:before{margin:5px;font-size:1.25em;font-family:FontAwesome;display:inline-block;content:"\f005";}
.reviewmsg{color:red;}
.submit-review-popup{position:relative;background:#FFF;padding:10px;width:auto;max-width:500px;margin:20px auto;}

/* popup */
#screenfill{
position:fixed;
border:solid 0px;top:0px;left:0px;height:100%;width:100%;
background-image:url('http://ekholbrookdigitalknight.github.io/projects/popup4wire/popimages/light.png');
z-index:1000;
top:0px; left:0px;
display:table;}
#pop{display:table-cell;vertical-align:middle;margin-left:auto;}

#popcontent{
border:solid 0px;border-radius:5px;
padding:0px;height:375px;width:600px;
background:#ffffff;color:#000000;
margin:auto;display:table;
box-shadow:0px 5px 10px #000000;
position:relative;top:0px; left:0px;}

.mid{display:table-cell;vertical-align:middle;border:solid 1px;
margin:auto;text-align:center;}

.closepop{position:absolute;
z-index:9001 !important;left:580px;top:-10px;
border:solid 0px;
background:url('http://ekholbrookdigitalknight.github.io/projects/popup4wire/popimages/closebox.png') no-repeat right;
width:30px;height:30px;cursor:pointer;}


@media screen and (max-width:750px) {

#popcontent{height:375px;width:90%;}
.closepop{position:absolute;left:96%;top:-10px;}

#reviewpage .col-sm-10{width:100%;float:none;}
#reviewpage .col-sm-2{width:190%;float:none;}
#review-popup .reviewemail{font-size:8px;}
#reviewpage #topratings .per{float:right;position:absolute;right:4%;margin-top:6px;}
#reviewpage .col-sm-10{width:90%;float:right;}
#reviewpage .col-sm-2{width:100%;float:left;}
#reviewpage .commentright{font-size:15px;line-height:19px;}
#reviewpage .date{font-style:italic;font-size:10px;}
#reviewpage .filterrating{float:none;display:block;border:solid 0;width:50%;margin:auto;text-align:center;font-size:14px;}
#reviewpage .filterrating select{margin-left:10px;background:#1861BD;font-size:17px;color:#ffff00;padding:4px;text-align:center;}
#reviewpage .leave{float:none;margin:auto;font-size:14px;width:120px;margin-top:10px;}
#reviewpage .nameleft .rating{float:right;}
#reviewpage h2{font-size:14px;text-align:center;}
#reviewpage .showing,#review-popup h2{font-size:13px;}

}
